/* Основные */

* {
    font-family: 'Autour One', cursive;
    box-sizing: border-box;
    margin: 0;
    color: black;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

form > p, a,
h3, .modal_news > label, .news-item > div:last-child {
    color: #3C8EBC;
}

.header, form, label, .admin, .statistics, .wrapper, .back, #content,
input, .invalid, label > p, .line, .dashboard, .users, .content__news,
.news-item, .news__block, .wrapper-delete, .modal-actions {
    width: 100%;
}

.header__nav, .wrapper, .back, .modal_news, #content, .wrapper-delete  {
    height: 100%;
}

.header__nav, form, .content__main, .statistics > div,
#user-list > div, #user-list > div > div, .dashboard, .wrapper, .wrapper-delete,
#pagination, #prev-page, #next-page, .statistics, .users, .news-item,
.content__news, .news-top > div, .news-top, .news-item > div:last-child,
.modal-actions {
    display: flex;
}

.header__nav, .line, form, .content, .article > h3 {
    margin: 0 auto;
}

#prev-page, #next-page, .header__nav, form, .users,
.content__main, #pagination, .statistics > div,
.dashboard, .wrapper, .content__news, .wrapper-delete {
    align-items: center;
}

.hidden {
    display: none;
}

/* Header */

.header {
    background: #F4F8FF;
    box-shadow: 0 4px 30px 0 rgba(48, 90, 171, 0.30);
    height: 70px;
}

.statistics, .header__nav, .news-item > div:first-child,
.news-item > div:last-child, .content__news, .modal-actions {
    justify-content: space-between;
}

.header__nav {
    max-width: 1000px;
    padding: 0 30px;
}

.nav__link {
    margin-right: 30px;
}

.nav__link:last-child {
    margin: 0;
}

.active {
    text-decoration: underline;
}

/* Формы */

button, .edit-button, .delete-button {
    cursor: pointer;
}

.dashboard, .users, form, .news-item {
    flex-direction: column;
}

form, .modal-actions {
    max-width: 300px;
    padding-top: 30px;
}

label {
    height: 60px;
}

.invalid, label > p {
    color: red;
    font-size: 8px;
}

label > p {
    margin-top: 3px;
}

form > p {
    margin: 20px 0 30px 0;
}

h3 {
    text-align: center;
}

textarea {
    padding: 15px;
}

input, .invalid, label > p {
    padding: 0 10px;
}

input, .reg-button, .login_button, .save-button,
.save-news {
    min-height: 40px;
}

input, textarea, .reg-button, .login_button, .save-button,
.create-news, .save-news {
    border: 1px solid #3C8EBC;
    border-radius: 5px;
}

.reg-button, .login_button, .save-button {
    width: 60%;
}

.reg-button, .login_button, .save-button,
.save-news {
    margin-top: 20px;
}

.reg-button, .login_button, .save-button, 
.create-news, .save-news {
    background-color: #3C8EBC;
    color: white;
    text-transform: uppercase;
}

/* Error page */

.error__page {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
}

/* Content */

.content, .content__news {
    max-width: 1000px;
    padding: 50px 30px;
}

.content__block {
    display: grid;
    grid-template-columns: 20% 80%;
}

.content__panel {
    padding: 12% 10% 14% 10%;
    height: fit-content;
    margin-right: 30px;
}

.content__panel, .article, .content__main, .modal_form,
.content__news, .modal_news {
    box-shadow: 0 4px 30px 0 rgba(48, 90, 171, 0.30);
}

.content__main, .statistics > div, .content__news  {
    flex-direction: column;
}

.content__panel-link {
    margin-top: 20px;
}

.content__panel-link:first-child,
.content__panel-link:nth-child(3),
.content__panel-link:nth-child(5) {
    margin-top: 0;
}

.unexpected_error {
    margin-top: 30px;
    text-align: center;
}

.line {
    border-bottom: 1px solid #3C8EBC;
}

.line, .news-item > div:last-child {
    margin: 15px 0;
}

.content__main {
    padding: 30px 20px;
}

/* Admin panel */

.admin {
    text-align: center;
    padding: 30px;
}

.users {
    display: none;
}

#pagination, #prev-page, #next-page, .wrapper-delete {
    justify-content: center;
}

.statistics {
    flex-wrap: wrap;
}

.statistics > div > img {
    max-width: 130px;
    max-height: 110px;
}

.statistics > div > p {
    font-size: 22px;
}

.statistics > div > p {
    margin-bottom: 10px;
}

#user-list {
    min-height: 520px;
    width: 95%;
    margin: 3% 0;
}

#user-list > div {
    padding: 15px 0 15px 20px;
    color: black;
    display: grid;
    grid-template-columns: 40% 50% 10%;
    border-bottom: 1px solid #3C8EBC;
}

#user-list > div:last-child {
    border: none;
}

#user-list > div > p:nth-child(2) {
    color: #868686;
}

.edit-button, .delete-button, .close-button {
    background-size: cover;
    width: 20px;
    height: 20px;
}

.edit-button, .delete-button {
    margin-left: 10px;
    display: block;
}

.edit-button {
    background-image: url("../images/edit.png");
}

.delete-button, .close-button {
    background-image: url("../images/delete.png");
}

#prev-page, #next-page {
    width: 12px;
    height: 12px;
    border: none;
    border-top: 2px solid #3C8EBC;
    background-color: white;
}

#prev-page {
    transform: rotate(-45deg);
    margin-right: 10px;
    border-left: 2px solid #3C8EBC;
}

#next-page {
    margin-left: 10px;
    border-right: 2px solid #3C8EBC;
    transform: rotate(45deg);
}

.disabled-color {
    border-color: #bbb !important;
}

/* Модальные окна */

.wrapper, .wrapper-delete {
    padding: 20px;
}

.wrapper, .back, .wrapper-delete {
    position: absolute;
    z-index: 2;
}

.back {
    background-color: #3c8ebc42;
    left: 0;
}

.close-button, .create-news {
    position: absolute;
}

.close-button {
    top: 10px;
    right: 10px;
}

.modal_form, .modal_news, #delete-modal {
    position: relative;
    z-index: 3;
    background-color: white;
    min-height: 350px;
    padding: 60px 30px 40px 30px;
}

.modal_form, #delete-modal {
    max-width: 400px;
}

.id {
    display: none;
    height: 0;
}

.messages {
    height: 15px;
}

.success, .error {
    font-size: 10px;
    color: green;
    opacity: 0;
    animation: fadeIn 1ms ease-in-out 1ms forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#delete-modal {
    min-height: 100px;
    padding: 20px 40px;
}

/* News block */

.content__news {
    position: relative;
    min-height: 670px;
}

.create-news {
    top: 15px;
}

.news__block {
    max-width: 750px;
}

.create-news, .save-news {
    align-self: flex-end;
    padding: 10px 25px;
}

.modal_news {
    max-width: 900px;
    max-height: 600px;
}

.modal_news > input {
    margin-bottom: 30px;
}

.news-item {
   border-bottom: 1px solid #3C8EBC;
    max-width: 800px;
}

.news-top,
.content__news > div:last-child {
    margin-top: 20px;
}

.news-date {
    font-size: 8px;
}

.news-item > div:last-child {
    font-size: 10px;
}

.more-button {
    text-decoration: underline;
}
