* {
    font-family: 'Autour One', cursive;
    box-sizing: border-box;
    margin: 0;
    color: black;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

form > p, a {
    color: #3C8EBC;
}

.header {
    width: 100%;
    background: #F4F8FF;
    box-shadow: 0 4px 30px 0 rgba(48, 90, 171, 0.30);
    height: 70px;
}

.header__nav, form, .content__main,
#user-list > div, #user-list > div > div,
#pagination, #prev-page, #next-page {
    display: flex;
}

.header__nav, .line, form, .content, .article > h3 {
    margin: 0 auto;
}

#prev-page, #next-page, .header__nav, form,
.content__main, #pagination {
    align-items: center;
}

.header__nav {
    justify-content: space-between;
    height: 100%;
    max-width: 1000px;
    padding: 0 30px;
}

.nav__link {
    margin-right: 30px;
}

.nav__link:last-child {
    margin: 0;
}

button, #edit-button, #delete-button {
    cursor: pointer;
}

div {
    text-wrap: normal;
}

form {
    width: 100%;
    max-width: 300px;
    flex-direction: column;
    padding-top: 30px;
}

label {
    width: 100%;
    height: 60px;
}

form > p {
    margin: 20px 0 30px 0;
}

input, .invalid, label > p {
    width: 100%;
    padding: 0 10px;
}

input, .reg-button, .login_button {
    height: 40px;
}

input, .reg-button, .login_button {
    border: 1px solid #3C8EBC;
    border-radius: 5px;
}

.reg-button, .login_button {
    background-color: #3C8EBC;
    width: 60%;
    color: white;
    text-transform: uppercase;
    margin-top: 20px;
}

.error__page {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
}

.admin {
    width: 100%;
    text-align: center;
    padding: 30px;
}

.hidden {
    display: none;
}

.disabled-color {
    border-color: #bbb !important;
}

.invalid, label > p {
    color: red;
    font-size: 8px;
}

label > p {
    margin-top: 3px;
}

.content {
    max-width: 1000px;
    padding: 50px 0 0 20px;
}

.content__block {
    display: grid;
    grid-template-columns: 20% 80%;
}

.content__panel {
    padding: 12% 10% 14% 10%;
    height: fit-content;
}

.content__panel, .article, #user-list {
    box-shadow: 0 4px 30px 0 rgba(48, 90, 171, 0.30);
}

.content__main {
    flex-direction: column;
}

.content__panel-link {
    margin-top: 20px;
}

.content__panel-link:first-child,
.content__panel-link:nth-child(3),
.content__panel-link:nth-child(5) {
    margin-top: 0;
}

.article, #user-list {
    width: 93%;
    padding: 2%;
    margin-bottom: 3%;
}

.article > h3, .article > p {
    margin-bottom: 10px;
    color: rgb(56, 56, 56);
}

.line {
    border-bottom: 1px solid #3C8EBC;
    width: 100%;
    margin: 30px 0;
}

.unexpected_error {
    margin-top: 30px;
    text-align: center;
}

.link-active {
    pointer-events: none;
    color: black;
}

.link-pane:not(.link-pane-show) {
    display: none;
}

#user-list {
    padding: 20px 20px 30px 20px;
}

#user-list > div {
    padding: 15px 0 15px 20px;
    color: black;
    display: grid;
    grid-template-columns: 40% 50% 10%;
    border-bottom: 1px solid #3C8EBC;
}

#user-list > div:last-child {
    border: none;
}

#edit-button, #delete-button {
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

#edit-button {
    background-image: url("../images/edit.png");
}

#delete-button {
    background-image: url("../images/delete.png");
}

#prev-page, #next-page {
    width: 12px;
    height: 12px;
    border: none;
    justify-content: center;
    border-top: 2px solid #3C8EBC;
    background-color: white;
}

#prev-page {
    transform: rotate(-45deg);
    margin-right: 10px;
    border-left: 2px solid #3C8EBC;
}

#next-page {
    margin-left: 10px;
    border-right: 2px solid #3C8EBC;
    transform: rotate(45deg);
}
